<section class="section">
  <div class="container">
    <h2 class="title has-text-centered has-text-grey">Answer correctly to become a member</h2>
    <form action="" method="POST">
      <input type="text" name="userid" value="{{user._id}}" hidden>
      <div class="tile is-ancestor mt-5">
        <div class="tile is-4"></div>
        <div class="tile is-4">
          <div class="box">
            <code>var Storm = function () {};</code><br>
            <code>Storm.prototype.precip = 'rain';</code><br>
            <code>var WinterStorm = function () {};</code><br>
            <code>WinterStorm.prototype = new Storm();</code><br>
            <code>WinterStorm.prototype.precip = 'snow';</code><br>
            <code>var bob = new WinterStorm();</code><br><br>
            <code>console.log(bob.precip);</code>
          </div>
        </div>
      </div>
      <div class="columns is-desktop mt-5">
        <div class="column is-half is-offset-one-quarter">
          <div class="field">
            <label class="label has-text-grey">What is the result in the console of running the code shown?</label>
            <p class="control has-icons-left has-icons-right">
              <input class="input has-background-black has-text-white" name="solution" type="text" placeholder="Solution" value="{{unescapeText solution}}">
              <span class="icon is-small is-left">
                <i class="fab fa-js-square"></i>
              </span>
            </p>
          </div>
          {{#each errors}}
            <ul>
              <li class="subtitle has-text-danger mt-2">{{this.msg}}</li>
            </ul>  
          {{/each}}
          <div class="field is-grouped is-grouped-centered my-5">
            <p class="control">
              <button class="button is-dark">
                Submit
              </button>
            </p>
            <p class="control">
              <a href="/" class="button is-light">
                Cancel
              </a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>